@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hello";
}

<input id="who" value="" placeholder="who are you?">
<p id="message">loading...</p>


@section scripts {
    <script type="text/javascript" src="~/Scripts/dist/app.bundle.js"></script>
}
